/* =============
    Section 2
============= */
#section-2 > div {
  display: grid;
  grid-template-columns: 30px auto 30px;
  grid-template-areas: ". section-2 ."; }
  #section-2 > div > aside {
    grid-area: section-2; }
