/* =============
    Section 2
============= */
#section-2{
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-areas: ". section-2 .";

    >div {
        grid-area: section-2;
    }

}