/* =============
    Section 5
============= */
#section-5{
    div{
        display: grid;
        grid-template-columns: 30px auto 30px;
        grid-template-areas: ". section-5 .";

        >aside {
        grid-area: section-5;
        text-align: center;
        }
    }
    section{
        background-image: url('../img/circlebride.jpg');
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        padding-top: 50px;
        padding-bottom: 50px;

    }
}