/* =============
    Section 3
============= */
#section-3{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3 .";
    }

    >section{
        background-image: url('../img/bubbles.jpg');
        background-size: cover;
        background-position: center;
        height: 513px;

        @include lg{
            height: 684px;
        }

        @include xl{
            grid-area: section-3;
        }
    }

    >div{
        display: grid;
        text-align: center;
        grid-template-columns: 15px auto 15px;
        grid-template-areas: ". section-3 .";
        padding: 43px 0px;
        color: $yellow;

        @include md{
            grid-template-columns: auto 70% auto;
        }

        @include xl{
            grid-template-columns: auto 650px auto;
        }
        
        >aside{
            grid-area: section-3;
            
            hr{
                border: none;
                height: 3px;
                background-color: $lightpink;
            }
        } 
    }    
}
