/* =============
    Section 2
============= */
#section-2{
    >div{
        display: grid;
        text-align: center;
        grid-template-columns: 30px auto 30px;
        grid-template-areas: ". section-2 .";
   
        >aside{
        grid-area: section-2;
        padding-top: 100px;
        padding-bottom: 70px;
        }  
    }

    section{
        padding-top: 30px;
        padding-bottom: 30px;
        img{
            width: 100%;
        }
    }
}