/* =============
    Section 3
============= */
#section-3{
    >div{
        display: grid;
        grid-template-columns: 30px auto 30px;
        grid-template-areas: ". section-3 .";
       
        >aside {
           grid-area: section-3;
        } 
    }
}   

